{% extends "base.html" %}

{% block title %}About Team Temperature{% endblock %}

{% block body %}
  <div class="container">
    <h1 style="background-color:#0095db;" style="color:#FFFFFF;">About the Team Temperature Survey</h1>
    <h1 style="color:#0095db;">About the Team Temperature Survey</h1>
                              
    <p style="color:#003c72;">
      This application is designed to gather 'team temperature' - that is,
      our happiness score.</p>

    <p style="color:#003c72;">For your privacy, very little information is stored or recorded.
      Each submitter is represented by an anonymous random ID, and a cookie is stored
      only to protect against accidental double submissions from the
      same user with the same browser.</p>

    <p style="color:#0095db;">Think of this as your opportunity to have a vent, or share 
      your happiness without anyone knowing it's you!</p>
  </div>
{% endblock %}
